!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Erefuge
    = csrf_meta_tags
    = stylesheet_link_tag "http://fonts.googleapis.com/icon?family=Material+Icons"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render "layouts/navbar"
    - if flash[:alert]
      = flash[:alert]
    - if flash[:notice]
      = flash[:notice]
    .content
      = yield
    = render "layouts/footer"
