= render 'layouts/errors', :object => @account
.row
  .col.s8
    = simple_form_for @account, html: {multipart: true} do |f|
      .file-field.input-field
        .btn
          %span Add Avatar
          = f.input :avatar, label: false
        .file-path-wrapper
          %input.file-path.validate{:type => "text" }
      = f.input :first_name
      = f.input :last_name
      = f.button :submit
